{% extends "base.html" %}
<head>
    <style>

    </style>
</head>

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Welcome to AIM!</h1>
        <p class="lead"> Automated Incidence Management</p>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-3 col-xl-3">
          <img src="static/img/to-do-list.png" style="margin-top:0px;margin-bottom:10px;width:200px;height:200px;">
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <h2>Create Web Incidence</h2>
          <p>Fill in a web form to submit an incidence report.</p>
          <p><a href=" {{ url_for('fill_incidence')}}" target="_blank" class="btn btn-warning">Fill in Web Form &raquo;</a></p>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <h2>Upload Incidence</h2>
          <p>Upload a file you have already made.</p>
          <p><a href="{{ url_for('upload_form')}}" target="_blank" class="btn btn-warning">Upload Incidence &raquo;</a></p>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3">
          <h2>Check Incidence</h2>
          <p>FInd the category and other information about any incidence in the database.<p>
          <p><a href="" target="_blank" class="btn btn-warning">Check Incidence &raquo;</a></p>
        </div>
    </div>
</div>

{% endblock %}

